doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Suggestrap
    link(href="./mocha.css" type="text/css" rel="stylesheet" )
  body
    .container(style="margin: 0 auto; width: 500px; font-family: 'Helvetica Neue'")
      h1 Suggestrap
      legend Country
      input#target-country(type="text")
      legend language
      input#target-language(type="text")
      div
        input(type="submit" value="submit")    
    div#mocha

    //- Require test library files
    script(src="./mocha.js")
    script(src="./chai.js")

    script.
      mocha.setup({ ui: 'bdd' })

    //- Include test files
    script(src="./browser-test.js")

    script.
      mocha.checkLeaks();
      mocha.run();