doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Suggestrap Sample
    style.
      h1{ font-weight: bold; }
      body{ background-color: #f2f9ff; }
      .container{
        margin-left: auto;
        margin-right: auto;
        width: 500px;
      }
  body
    .container
      h1 Suggestrap Demo
      div(style="position: relative;")
        input#target(type="text")
        input(type="submit" value="submit")