doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Suggestrap Sample
  body(style="background-color: #f2f9ff;")
    .container(style="margin: 0 auto; width: 500px;")
      h1 Suggestrap Sample
      div(style="position: relative;")
        input#target(type="text")
        input(type="submit" value="submit")