doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title Suggestrap Demo
    meta(name="description", content="説明")
  body
    h1 Suggestrapデモ
    label Name
    input#name(type="text")
