doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Suggestrap Demo
    link(rel="stylesheet" type="text/css" href="../suggestrap.main.min.css")
    script(src="../suggestrap.main.min.js")
    style.
      h1{ font-weight: bold; }
      body{ background-color: #f2f9ff; }
      .container{
        margin-left: auto;
        margin-right: auto;
        width: 500px;
      }
    script.
      window.onload = function(){
        req = {
          target: "target",
          url: "http://localhost:3000/search_json/%QUERY",
          key: "name",
        };
        suggestrap = new window.Suggestrap(req);
      }
  body
    .container
      h1 Suggestrap Demo
      input#target(type="text")
      input(type="submit" value="submit")
